.userNav {
  max-width: 1440px;
  height: 76px;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userNav__left {
  display: flex;
}

.logo {
  width: 330px;
}

.likes img,
.userSearch img,
.profile img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.likes,
.userSearch,
.profile {
  width: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userSearch input {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 15px;
}

.userSearch input::placeholder {
  color: black;
}
