body {
  background-color: #f5f5f5;
}

.userPhotoGallery {
  width: 1064px;
  height: 660px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.userPhotoGallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userPhotoGallery div {
  height: 660px;
}

.blockPhoto__left {
  width: 360px;
}

.blockPhoto__center,
.blockPhoto__right {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockPhoto__center img,
.blockPhoto__right img {
  height: 315px;
}

.userInfo {
  padding-top: 36px;
}

.userInfo__inner {
  width: 965px;
  height: 797px;
  margin: 0 auto;
}

.userInfo__params {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 43px;
  font-size: 24px;
  padding-bottom: 136px;
}

.userInfo__params input {
  width: 24px;
  height: 24px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid #ccc;
  text-align: center;
  line-height: 1em;
  transition: all 0.2s ease;
}

input[type="radio"]:checked + label::before {
  background-color: red;
  box-shadow: inset 0 0 0 5px #fff;
}

.userInfo__params div,
.userInfo__params label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user__select {
  width: 237px;
  height: 28px;
  padding-left: 10px;
  border: 2px solid #a3bec2;
  font-size: 22px;
  color: #414141;
  outline: none;
}

.selectPage__wrap {
  position: relative;
}

.selectPage__img {
  position: absolute;
  width: 16px;
  height: 14px;
  top: 8px;
  right: 9px;
}

.selectPage__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dream .user__select {
  width: 150px;
}

.hint {
  cursor: pointer;
}

textarea {
  outline: none;
  width: 965px;
  height: 170px;
  padding: 4px 6px;
  font-size: 22px;
  color: #414141;
  resize: none;
}

.userInfo__btn button {
  width: 492px;
  height: 69px;
  background-color: #639fff;
  font-size: 25px;
  color: #ffffff;
  border-radius: 8px;
  transition: all 1s ease-in-out;
}

.userInfo__btn button:hover {
  background-color: #4e7fcd;
  transition: all 1s ease-in-out;
}

.sidePage .aboutMe {
  display: flex;
  align-items: flex-start;
}
