<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Главная страница</title>
        <link rel="stylesheet" href="../static/css/home_page.css" />
    </head>
    <body>
        <h1 class="c-gr">Сервис для поиска соседей</h1>
        <a href="https://t.me/test_oauth_232453423_bot">Войти через телеграм</a>
        <a href="/me">Аккаунт</a>
        <script src="../static/js/home_page.js"></script>
    </body>
</html>
